.top-container{
    background-color: black;
    color: #fff;
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    
}

body{
    text-align: center;
    background-color: black;
    
}

.sub-title{
    display: flex;
    margin: 15px;
    align-items: baseline;
    justify-content: center;
}

.cursor {
    background: lime;
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 1.0s infinite;
    width: 2px;
    height: 15px;
  }
  
  @-webkit-keyframes blink {
    0% {background: #fff}
    50% {background: lime}
    100% {background: transparent}
  }

  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: lime;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0;}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
    stroke: #fff;
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
    stroke: #fff;
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


.second-container{
    color: #fff;
    position: relative;
    background-color: #4E4FEB;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    
}

.profile-img{
  border-radius: 100%;
  width: 180px;
  height: 180px;
}

.third-container{
    color: #fff;
    position: relative;
    background-color: #068FFF;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
}

.cat-gif{
  margin-top: 20px;
  border-radius: 5%;
}

.experience-img{
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.parent{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin: auto;
  text-align: right;
  row-gap: 2rem;
  column-gap: 2rem;
}

.child-company{
  text-align: left;
}

.child-company-name{
  font-weight: bolder;
  font-size: 20px;
}

.fourth-container{
    color: #fff;
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    scroll-snap-align: start;
}



  .glow {
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    0% {background: lime;}
    50% {background: lime}
    100% {background: transparent}
  }

  .glow-char{
    color: #ffffff;
    text-align: center;
    -webkit-animation: glowchar 1s ease-in-out infinite alternate;
    -moz-animation: glowchar 1s ease-in-out infinite alternate;
    animation: glowchar 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glowchar {
    0% {color: #ffffff;}
    50% {color: lime}
    100% {color: transparent}
  }

  .name-first{
    color: lime;
  }

  .color-me{
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
  }

  .color-lime{
    color: lime;
    font-family: 'Source Code Pro', monospace;
  }

  .nav{
    --bs-nav-link-hover-color: lime;
  }
  
  .navbar{
    width: 100%;
  }
 /* .mandatory-scroll-snapping{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
 } */

 .profile-summary{
  margin: auto;
 }

 .link-arrow p{
  display: inline-block;
  transition: 0.1s ease-in;
 }
 
 
 .link-arrow:hover p {
  transform: translateX(50%);
}

  